# Selecting Subsets of Data from a Series

Selecting subsets of data from a Series is accomplished similarly to how it's done with DataFrames. 

## Series indexer rules

The same three indexers, `[]`, `loc`, and `iloc`, are available for the Series. Because there are no columns in a Series, the rules for each indexer are slightly different than they are for a DataFrame. Let's begin by reading in the movie dataset and setting the index to the title.

In [2]:
import pandas as pd
movie = pd.read_csv('../data/movie.csv', index_col = 'title')

In [1]:
import pandas as pd
movie = pd.read_csv('../data/movie.csv', index_col='title')
movie.head(3)

,year,color,content_rating,duration,director_name,director_fb,actor1,actor1_fb,actor2,actor2_fb,...,actor3_fb,gross,genres,num_reviews,num_voted_users,plot_keywords,language,country,budget,imdb_score
title,,,,,,,,,,,,,,,,,,,,,
Avatar,2009.0,Color,PG-13,178.0,James Cameron,0.0,CCH Pounder,1000.0,Joel David Moore,936.0,...,855.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,723.0,886204,avatar|future|marine|native|paraplegic,English,USA,237000000.0,7.9
Pirates of the Caribbean: At World's End,2007.0,Color,PG-13,169.0,Gore Verbinski,563.0,Johnny Depp,40000.0,Orlando Bloom,5000.0,...,1000.0,309404152.0,Action|Adventure|Fantasy,302.0,471220,goddess|marriage ceremony|marriage proposal|pi...,English,USA,300000000.0,7.1
Spectre,2015.0,Color,PG-13,148.0,Sam Mendes,0.0,Christoph Waltz,11000.0,Rory Kinnear,393.0,...,161.0,200074175.0,Action|Adventure|Thriller,602.0,275868,bomb|espionage|sequel|spy|terrorist,English,UK,245000000.0,6.8

Let's select a single column of data so that we can have access to a Series. Here, we select the `imdb_score` column.

In [3]:
imdb = movie['imdb_score']
imdb.head(3)

title
Avatar                                      7.9
Pirates of the Caribbean: At World's End    7.1
Spectre                                     6.8
Name: imdb_score, dtype: float64

### Series subset selection with just the brackets

For DataFrames, we learned that *just the brackets* accepted either a single label or a list of labels and used this input to select one or more DataFrame columns. For a Series, *just the brackets* has different rules that you must follow to use it correctly. It allows selection by index label. For instance, we can select the `imdb_score` for the movie Avatar like this:

In [4]:
imdb['Avatar']

7.9

Interestingly enough, it's possible to use integer location as well with *just the brackets*. The movie Avatar is at integer location 0 and we can duplicate our previous result by using it.

In [5]:
imdb[0]

7.9

## Use `loc` and `iloc` instead of just the brackets

For a Series, *just the brackets* is flexible and can take either a label or integer location. This might make it seem like `loc` and `iloc` would be unnecessary, but the opposite is actually the case. Using *just the brackets* for a Series is ambiguous and not explicit. It's not clear whether the label or integer location are being used.

I suggest only using `loc` and `iloc` for clarity. Whenever the `loc` indexer is used, we are certain it selects by label. Likewise, whenever the `iloc` indexer is used, we are certain it selects by integer location.

## Series subset selection with `loc`

The `loc` indexer selects by **label** just as it does with DataFrames. Since there are no columns, it only accepts a single selection object which can be any of the following:

* A single label
* A list of labels
* A slice with labels
* A boolean Series (covered in a later chapter)

### Select a single value with `loc`

Select a single value by providing the `loc` indexer the name of the index. Here, we select the `imdb_score` of the movie Forrest Gump. When selecting a single value, just that value is returned and not a Series.

In [6]:
imdb.loc['Forrest Gump']

8.8

### Select multiple values using a list with `loc`

Provide the `loc` indexer a list of index labels to select multiple values. This will return a Series.

In [7]:
names = ['Good Will Hunting', 'Home Alone', 'Meet the Parents']
imdb.loc[names]

title
Good Will Hunting    8.3
Home Alone           7.5
Meet the Parents     7.0
Name: imdb_score, dtype: float64

### Select multiple values using slice notation with `loc`

Provide the `loc` indexer index labels for the start and stop components of slice notation to select all of the values between those two labels. The results are **inclusive** of the stop label.

In [8]:
imdb.loc['Home Alone':'Top Gun']

title
Home Alone          7.5
3 Men and a Baby    5.9
Tootsie             7.4
Top Gun             6.9
Name: imdb_score, dtype: float64

As with any slice notation, all components are optional. Here, we select every `imdb_score` from the movie Twins to the end.

In [9]:
imdb.loc['Twins':].head()

title
Twins                      6.0
Scream: The TV Series      7.3
The Yellow Handkerchief    6.8
The Color Purple           7.8
Tidal Wave                 5.7
Name: imdb_score, dtype: float64

In this example, we select every 300th `imdb_score` beginning at the movie Twins to the end.

In [10]:
imdb.loc['Twins'::300]

title
Twins                                                    6.0
Ernest & Celestine                                       7.9
Welcome to the Rileys                                    7.0
Alpha and Omega 4: The Legend of the Saw Toothed Cave    6.0
Fast Times at Ridgemont High                             7.2
Young Frankenstein                                       8.0
Neal 'N' Nikki                                           3.3
Rise of the Entrepreneur: The Search for a Better Way    8.2
Name: imdb_score, dtype: float64

## Series subset selection with `iloc`

The Series `iloc` indexer is analogous to `loc` except that it only makes selection via integer location. Here are the valid kinds of selections.

* A single integer location
* A list of integer locations
* A slice with integer locations

### Select a single value with `iloc`

Let's select the `imdb_score` for the movie with integer location 499.

In [11]:
imdb.iloc[499]

4.2

Selecting with a single integer always returns the value by itself and not within a Series. If we want to return a one-item Series, so that we can see the index, we can use a one-item list as our selection.

In [12]:
imdb.iloc[[499]]

title
A Sound of Thunder    4.2
Name: imdb_score, dtype: float64

### Select multiple values using a list with `iloc`

Provide `iloc` a list of integer locations to select multiple values.

In [13]:
ints = [499, 599, 699]
imdb.iloc[ints]

title
A Sound of Thunder    4.2
The Abyss             7.6
Blades of Glory       6.3
Name: imdb_score, dtype: float64

### Select multiple values using slice notation with `iloc`

Provide `iloc` with slice notation using integers as the stop and start components to select all the values between those two locations. The results are **exclusive** of the last integer. Here, we select integer locations 145 through, but not including 148.

In [14]:
imdb.iloc[145:148]

title
Mr. Peabody & Sherman                 6.9
Troy                                  7.2
Madagascar 3: Europe's Most Wanted    6.9
Name: imdb_score, dtype: float64

Let's select the last three values using slice notation.

In [15]:
imdb.iloc[-3:]

title
A Plague So Pleasant    6.3
Shanghai Calling        6.3
My Date with Drew       6.6
Name: imdb_score, dtype: float64

Let's select every 200th value from integer location 1,000 to 2,000

In [16]:
imdb.iloc[1000:2000:200]

title
The Life Aquatic with Steve Zissou    7.3
Ride Along 2                          5.9
Trainwreck                            6.3
Down to Earth                         5.4
The Duchess                           6.9
Name: imdb_score, dtype: float64

## Summary of Series subset selection

The three indexers, `[]`, `loc`, and `iloc` are available to make subset selections on a Series. They work similarly as they do on DataFrames

* The `loc` indexer makes selections by label using a:
    * single label
    * list of labels
    * slice of labels
    * boolean Series
* The `iloc` indexer makes selections by integer location using a:
    * single integer location
    * list of integer locations
    * slice of integer locations
* Use `loc` and `iloc` instead of *just the brackets* to be explicit
* There are no columns in a Series, so selection is only based on the index

## Exercises

Execute the cell below to select the `duration` column (length of movie in minutes) as a Series and use it for the first few exercises.

In [17]:
duration = movie['duration']
duration.head()

title
Avatar                                        178.0
Pirates of the Caribbean: At World's End      169.0
Spectre                                       148.0
The Dark Knight Rises                         164.0
Star Wars: Episode VII - The Force Awakens      NaN
Name: duration, dtype: float64

### Exercise 1

<span  style="color:green; font-size:16px">How long was the movie 'Titanic'?</span>

In [18]:
duration['Titanic']

194.0

### Exercise 2

<span  style="color:green; font-size:16px">How long was the movie at the 999th integer location?</span>

In [19]:
duration.iloc[999]

90.0

### Exercise 3

<span  style="color:green; font-size:16px">Select the duration for the movies 'Hulk', 'Toy Story', and 'Cars'.</span>

In [20]:
duration[['Hulk', 'Toy Story', 'Cars']]

title
Hulk         138.0
Toy Story     74.0
Cars         117.0
Name: duration, dtype: float64

In [21]:
duration.loc[['Hulk', 'Toy Story', 'Cars']]

title
Hulk         138.0
Toy Story     74.0
Cars         117.0
Name: duration, dtype: float64

### Exercise 4

<span  style="color:green; font-size:16px">Select the duration for every 100th movies from 'Hulk' to 'Cars'.</span>

In [23]:
duration.loc['Hulk':'Cars':100]

title
Hulk                     138.0
Live Free or Die Hard    129.0
Valkyrie                 121.0
Yogi Bear                 80.0
Dr. Dolittle 2            87.0
Name: duration, dtype: float64

### Exercise 5

<span  style="color:green; font-size:16px">Select the duration for every 10th movie beginning from the 100th from the end.</span>

In [24]:
duration.iloc[100::10]

title
The Fast and the Furious                                    106.0
The Chronicles of Narnia: The Voyage of the Dawn Treader    113.0
Batman Begins                                               128.0
Thor                                                        115.0
Mission: Impossible III                                     124.0
                                                            ...
A True Story                                                 96.0
Her Cry: La Llorona Investigation                            89.0
Dry Spell                                                    90.0
The Circle                                                   90.0
Newlyweds                                                    95.0
Name: duration, Length: 482, dtype: float64

### Read in bikes dataset

Read in the bikes dataset and select the `wind_speed` column by executing the cell below and use it for the rest of the exercises. Notice that the index labels are integers, meaning that when you use `loc` you will be using integers.

In [25]:
bikes = pd.read_csv('../data/bikes.csv')
wind = bikes['wind_speed']
wind.head()

0    12.7
1     6.9
2    16.1
3    16.1
4    17.3
Name: wind_speed, dtype: float64

### Exercise 6

<span style="color:green; font-size:16px">What type of index does the `wind` Series have?</span>

In [26]:
type(wind.index)

pandas.core.indexes.range.RangeIndex

### Exercise 7

<span  style="color:green; font-size:16px">From the `wind` Series, select the integer locations 4 through, but not including 10.</span>

In [27]:
wind.iloc[4:10]

4    17.3
5    17.3
6    15.0
7     5.8
8     0.0
9    12.7
Name: wind_speed, dtype: float64

### Exercise 8

<span  style="color:green; font-size:16px">Copy and paste your answer to Exercise 7 below but use `loc` instead. Do you get the same result? Why not?</span>

In [28]:
wind.loc[4:10]

4     17.3
5     17.3
6     15.0
7      5.8
8      0.0
9     12.7
10     9.2
Name: wind_speed, dtype: float64

No, bc iloc is _exclusive_ and loc is _inclusive_ of the stop integer