# Boolean Selection Multiple Conditions

Thus far, our boolean selections involved just a single condition. It is possible to have as many conditions as you would like. To do so, you will need to combine your boolean expressions using the three logical operators, and, or, and not.

## Logical operators

Core Python provides the logical operators `and`, `or`, and `not` to combine multiple conditions together. These operators always return a boolean value. Let's take a look at a few simple examples to review. 

We begin by testing whether five is greater than three and that 10 is greater than 20. There are two conditions here, with the first evaluating as `True` and the second as `False`. The `and` operator only returns `True` if both conditions are `True`, so in this case it returns `False`.

In [1]:
5 > 3 and 10 > 20

False

Let's keep the same conditions and change the logical operator to `or` which returns `True` if one or more of the conditions evaluate as `True`.

In [2]:
5 > 3 or 10 > 20

True

The `not` operator inverts a condition. Below, we invert the last expression. Because `not` has higher precedence than `or`, we use parentheses to ensure the `or` condition is evaluated first.

In [3]:
not (5 > 3 or 10 > 20)

False

### Different logical operators for boolean Series

These built-in logical operators do not work for creating multiple conditions with a boolean Series. Instead, you must use the following operators.

* `&` for and (ampersand character)
* `|` for or (pipe character)
* `~` for not (tilde character)

Let's use the bikes dataset to make our multiple condition queries.

In [4]:
import pandas as pd
bikes = pd.read_csv('../data/bikes.csv')
bikes.head(3)

,gender,starttime,stoptime,tripduration,from_station_name,start_capacity,to_station_name,end_capacity,temperature,wind_speed,events
0,Male,2013-06-28 19:01:00,2013-06-28 19:17:00,993,Lake Shore Dr & Monroe St,11.0,Michigan Ave & Oak St,15.0,73.9,12.7,mostlycloudy
1,Male,2013-06-28 22:53:00,2013-06-28 23:03:00,623,Clinton St & Washington Blvd,31.0,Wells St & Walton St,19.0,69.1,6.9,partlycloudy
2,Male,2013-06-30 14:43:00,2013-06-30 15:01:00,1040,Sheffield Ave & Kingsbury St,15.0,Dearborn St & Monroe St,23.0,73.0,16.1,mostlycloudy

### Our first multiple condition expression

Let's find all the rides longer than 1,000 seconds by males. This query has two conditions - trip durations greater than 1,000 and a gender of 'Male'. The way we approach the problem is to assign each condition to a separate variable. Since we desire both of the conditions to be true, we must use the and (`&`) operator. Each single condition is placed on its own line before using the `&` operator to create the final filter that completes the boolean selection.

In [5]:
filt1 = bikes['tripduration'] > 1000
filt2 = bikes['gender'] == 'Male'
filt = filt1 & filt2
bikes[filt].head(3)

,gender,starttime,stoptime,tripduration,from_station_name,start_capacity,to_station_name,end_capacity,temperature,wind_speed,events
2,Male,2013-06-30 14:43:00,2013-06-30 15:01:00,1040,Sheffield Ave & Kingsbury St,15.0,Dearborn St & Monroe St,23.0,73.0,16.1,mostlycloudy
8,Male,2013-07-03 15:21:00,2013-07-03 15:42:00,1300,Clinton St & Washington Blvd,31.0,Wood St & Division St,15.0,71.1,0.0,cloudy
10,Male,2013-07-04 17:17:00,2013-07-04 17:42:00,1523,Morgan St & 18th St,15.0,Damen Ave & Pierce Ave,19.0,79.0,9.2,mostlycloudy

## Multiple conditions in one line

It is possible to combine the entire expression into a single line. Many pandas users like doing this, so it is a good idea to know how it's done as you will definitely encounter it.

### Use parentheses to separate conditions

You must encapsulate each condition within a set of parentheses in order to make this work. Each condition is separated like this:

```python
(bikes['tripduration'] > 1000) & (bikes['events'] == 'cloudy')
```

### Same results

The above expression is placed inside of *just the brackets* to get the same results. Again, I prefer assigning each condition to its own variable name for better readability.

In [6]:
bikes[(bikes['tripduration'] > 1000) & (bikes['gender'] == 'Male')].head(3)

,gender,starttime,stoptime,tripduration,from_station_name,start_capacity,to_station_name,end_capacity,temperature,wind_speed,events
2,Male,2013-06-30 14:43:00,2013-06-30 15:01:00,1040,Sheffield Ave & Kingsbury St,15.0,Dearborn St & Monroe St,23.0,73.0,16.1,mostlycloudy
8,Male,2013-07-03 15:21:00,2013-07-03 15:42:00,1300,Clinton St & Washington Blvd,31.0,Wood St & Division St,15.0,71.1,0.0,cloudy
10,Male,2013-07-04 17:17:00,2013-07-04 17:42:00,1523,Morgan St & 18th St,15.0,Damen Ave & Pierce Ave,19.0,79.0,9.2,mostlycloudy

## Using an `or` condition

Let's find all the rides that were done by females **or** had trip durations longer than 1,000 seconds. In this example, we need at least one of the conditions to be true, which necessitates the use of the or (`|`) operator.

In [7]:
filt1 = bikes['tripduration'] > 1000
filt2 = bikes['gender'] == 'Female'
filt = filt1 | filt2
bikes[filt].head(3)

,gender,starttime,stoptime,tripduration,from_station_name,start_capacity,to_station_name,end_capacity,temperature,wind_speed,events
2,Male,2013-06-30 14:43:00,2013-06-30 15:01:00,1040,Sheffield Ave & Kingsbury St,15.0,Dearborn St & Monroe St,23.0,73.0,16.1,mostlycloudy
8,Male,2013-07-03 15:21:00,2013-07-03 15:42:00,1300,Clinton St & Washington Blvd,31.0,Wood St & Division St,15.0,71.1,0.0,cloudy
9,Female,2013-07-04 15:00:00,2013-07-04 15:16:00,922,Lakeview Ave & Fullerton Pkwy,19.0,Racine Ave & Congress Pkwy,19.0,81.0,12.7,mostlycloudy

## Inverting a condition with the not operator

The tilde character, `~`, represents the not operator and inverts a condition. For instance, if we wanted all the rides with trip duration less than or equal to 1,000, we could do it like this:

In [8]:
filt = bikes['tripduration'] > 1000
bikes[~filt].head(3)

,gender,starttime,stoptime,tripduration,from_station_name,start_capacity,to_station_name,end_capacity,temperature,wind_speed,events
0,Male,2013-06-28 19:01:00,2013-06-28 19:17:00,993,Lake Shore Dr & Monroe St,11.0,Michigan Ave & Oak St,15.0,73.9,12.7,mostlycloudy
1,Male,2013-06-28 22:53:00,2013-06-28 23:03:00,623,Clinton St & Washington Blvd,31.0,Wells St & Walton St,19.0,69.1,6.9,partlycloudy
3,Male,2013-07-01 10:05:00,2013-07-01 10:16:00,667,Carpenter St & Huron St,19.0,Clark St & Randolph St,31.0,72.0,16.1,mostlycloudy

Of course, inverting a single conditions like this isn't too useful as we can use the less than or equal to operator instead.

In [ ]:
filt = bikes['tripduration'] <= 1000
bikes[filt].head(3)

### Invert a more complex condition

Typically, we reserve the not operator for inverting more complex conditions. Let's invert the condition for selecting rides by females or those with duration over 1,000 seconds. Logically, this should return only male riders with duration 1,000 or less. The `~` operator has precedence over the `|` operator, so we use parentheses to ensure that the or operation is completed first. That result is then inverted.

In [9]:
filt1 = bikes['tripduration'] > 1000
filt2 = bikes['gender'] == 'Female'
filt = ~(filt1 | filt2)
bikes[filt].head(3)

,gender,starttime,stoptime,tripduration,from_station_name,start_capacity,to_station_name,end_capacity,temperature,wind_speed,events
0,Male,2013-06-28 19:01:00,2013-06-28 19:17:00,993,Lake Shore Dr & Monroe St,11.0,Michigan Ave & Oak St,15.0,73.9,12.7,mostlycloudy
1,Male,2013-06-28 22:53:00,2013-06-28 23:03:00,623,Clinton St & Washington Blvd,31.0,Wells St & Walton St,19.0,69.1,6.9,partlycloudy
3,Male,2013-07-01 10:05:00,2013-07-01 10:16:00,667,Carpenter St & Huron St,19.0,Clark St & Randolph St,31.0,72.0,16.1,mostlycloudy

In [10]:
new = bikes[filt]
new.

In [17]:
new['gender'].value_counts()

Male    30759
Name: gender, dtype: int64

In [18]:
bikes['gender'].value_counts()

Male      37654
Female    12435
Name: gender, dtype: int64

### Even more complex conditions

It is possible to build extremely complex conditions to select rows of your DataFrame that meet a very specific query. For instance, we can select males riders with trip duration between 5,000 and 10,000 seconds along with female riders with trip duration between 2,000 and 3,000 seconds. With multiple conditions, it's probably best to break out the logic into multiple steps:

In [19]:
filt1 = ((bikes['gender'] == 'Male') &
         (bikes['tripduration'] >= 5000) &
         (bikes['tripduration'] <= 10000))

filt2 = ((bikes['gender'] == 'Female') &
         (bikes['tripduration'] >= 2000) &
         (bikes['tripduration'] <= 3000))
filt = filt1 | filt2
bikes[filt].head(3)

,gender,starttime,stoptime,tripduration,from_station_name,start_capacity,to_station_name,end_capacity,temperature,wind_speed,events
18,Male,2013-07-09 13:12:00,2013-07-09 14:42:00,5396,Canal St & Jackson Blvd,35.0,Millennium Park,35.0,79.0,13.8,cloudy
173,Female,2013-08-08 08:49:00,2013-08-08 09:31:00,2502,Sheffield Ave & Addison St,27.0,Dearborn St & Adams St,19.0,71.1,10.4,mostlycloudy
258,Female,2013-08-17 22:10:00,2013-08-17 22:53:00,2566,Millennium Park,35.0,Theater on the Lake,15.0,69.1,5.8,clear

## Many equality conditions in a single column

Occasionally, we want to test equality in a single column with multiple values. This is most common in string columns. For instance, let's say we wanted to find all the rides where the events were either 'rain', 'snow', 'tstorms', or 'sleet'. One way to do this would be with four or conditions.

In [20]:
filt = ((bikes['events'] == 'rain') | 
        (bikes['events'] == 'snow') | 
        (bikes['events'] == 'tstorms') | 
        (bikes['events'] == 'sleet'))
bikes[filt].head(3)

,gender,starttime,stoptime,tripduration,from_station_name,start_capacity,to_station_name,end_capacity,temperature,wind_speed,events
45,Male,2013-07-15 16:43:00,2013-07-15 16:55:00,727,Greenwood Ave & 47th St,15.0,State St & Harrison St,19.0,82.9,5.8,rain
78,Male,2013-07-21 16:35:00,2013-07-21 17:06:00,1809,Michigan Ave & Pearson St,23.0,Millennium Park,35.0,82.4,11.5,tstorms
79,Male,2013-07-21 16:47:00,2013-07-21 17:03:00,999,Carpenter St & Huron St,19.0,Carpenter St & Huron St,19.0,82.4,11.5,tstorms

### Use the `isin` method instead

Instead of using an operator, we use the `isin` method. Pass it a list (or a set) of all the values you want to test equality with. The `isin` method returns a boolean Series and in this example, the same exact boolean Series as the previous one.

In [ ]:
filt = bikes['events'].isin(['rain', 'snow', 'tstorms', 'sleet'])
bikes[filt].head(3)

### Combining `isin` with other filters

You can use the resulting boolean Series from the `isin` method in the same way as you would from the logical operators. For instance, If we wanted to find all the rides that had the same events as above and had a duration greater than 2,000 we would do the following:

In [ ]:
filt1 = bikes['events'].isin(['rain', 'snow', 'tstorms', 'sleet'])
filt2 = bikes['tripduration'] > 2000
filt = filt1 & filt2
bikes[filt].head(3)

## Exercises

Continue to use the bikes dataset for the first few exercises.

### Exercise 1

<span style="color:green; font-size:16px">Find all the rides where temperature was between 0 and 2.</span>

In [21]:
bikes.head(3)

,gender,starttime,stoptime,tripduration,from_station_name,start_capacity,to_station_name,end_capacity,temperature,wind_speed,events
0,Male,2013-06-28 19:01:00,2013-06-28 19:17:00,993,Lake Shore Dr & Monroe St,11.0,Michigan Ave & Oak St,15.0,73.9,12.7,mostlycloudy
1,Male,2013-06-28 22:53:00,2013-06-28 23:03:00,623,Clinton St & Washington Blvd,31.0,Wells St & Walton St,19.0,69.1,6.9,partlycloudy
2,Male,2013-06-30 14:43:00,2013-06-30 15:01:00,1040,Sheffield Ave & Kingsbury St,15.0,Dearborn St & Monroe St,23.0,73.0,16.1,mostlycloudy

In [23]:
filt = (bikes['temperature'] >= 0) & (bikes['temperature'] <= 2)
bikes[filt].head()

,gender,starttime,stoptime,tripduration,from_station_name,start_capacity,to_station_name,end_capacity,temperature,wind_speed,events
1870,Female,2013-12-11 21:13:00,2013-12-11 21:19:00,347,Southport Ave & Roscoe St,19.0,Ashland Ave & Grace St,15.0,1.9,10.4,clear
1938,Male,2013-12-23 22:29:00,2013-12-23 22:37:00,455,State St & Pearson St,27.0,Clark St & Schiller St,19.0,-0.0,15.0,partlycloudy
2039,Male,2014-01-21 08:48:00,2014-01-21 09:13:00,1547,Damen Ave & Pierce Ave,19.0,Franklin St & Jackson Blvd,31.0,1.9,19.6,partlycloudy
2040,Male,2014-01-21 08:50:00,2014-01-21 08:57:00,388,Canal St & Madison St,23.0,Dearborn St & Monroe St,27.0,1.9,19.6,partlycloudy
2043,Male,2014-01-21 19:28:00,2014-01-21 19:41:00,806,Michigan Ave & 18th St,15.0,Indiana Ave & 31st St,11.0,1.9,8.1,mostlycloudy

### Exercise 2

<span  style="color:green; font-size:16px">Find all the rides with trip duration less than 100 done by females.</span>

In [28]:
filt1= bikes['tripduration'] < 100
filt2= bikes['gender'] == 'Female'
filt = filt1 & filt2
bikes[filt].head()

,gender,starttime,stoptime,tripduration,from_station_name,start_capacity,to_station_name,end_capacity,temperature,wind_speed,events
2485,Female,2014-04-01 15:43:00,2014-04-01 15:44:00,67,Halsted St & Polk St,19.0,Halsted St & Polk St,19.0,46.0,23.0,partlycloudy
3366,Female,2014-05-17 14:55:00,2014-05-17 14:56:00,62,Damen Ave & Chicago Ave,15.0,Damen Ave & Chicago Ave,15.0,57.9,11.5,partlycloudy
3629,Female,2014-05-27 07:55:00,2014-05-27 07:56:00,70,Clark St & Schiller St,19.0,Clark St & Schiller St,19.0,73.0,9.2,cloudy
4665,Female,2014-06-25 17:01:00,2014-06-25 17:02:00,94,Broadway & Sheridan Rd,15.0,Broadway & Sheridan Rd,15.0,64.9,13.8,cloudy
4930,Female,2014-07-01 21:36:00,2014-07-01 21:37:00,77,Clinton St & Madison St,23.0,Clinton St & Madison St,23.0,73.0,8.1,partlycloudy

In [29]:
bikes[(bikes['tripduration'] < 100) & (bikes['gender'] == 'Female')].head(2)

,gender,starttime,stoptime,tripduration,from_station_name,start_capacity,to_station_name,end_capacity,temperature,wind_speed,events
2485,Female,2014-04-01 15:43:00,2014-04-01 15:44:00,67,Halsted St & Polk St,19.0,Halsted St & Polk St,19.0,46.0,23.0,partlycloudy
3366,Female,2014-05-17 14:55:00,2014-05-17 14:56:00,62,Damen Ave & Chicago Ave,15.0,Damen Ave & Chicago Ave,15.0,57.9,11.5,partlycloudy

In [31]:
bikes[(filt1 & filt2)].head(2)

,gender,starttime,stoptime,tripduration,from_station_name,start_capacity,to_station_name,end_capacity,temperature,wind_speed,events
2485,Female,2014-04-01 15:43:00,2014-04-01 15:44:00,67,Halsted St & Polk St,19.0,Halsted St & Polk St,19.0,46.0,23.0,partlycloudy
3366,Female,2014-05-17 14:55:00,2014-05-17 14:56:00,62,Damen Ave & Chicago Ave,15.0,Damen Ave & Chicago Ave,15.0,57.9,11.5,partlycloudy

### Exercise 3

<span style="color:green; font-size:16px">Find all the rides from 'Daley Center Plaza' to 'Michigan Ave &amp; Washington St'.</span>

In [37]:
filt = (bikes['from_station_name'] == 'Daley Center Plaza') & (bikes['to_station_name'] == 'Michigan Ave & Washington St')

bikes[filt]

,gender,starttime,stoptime,tripduration,from_station_name,start_capacity,to_station_name,end_capacity,temperature,wind_speed,events
6276,Female,2014-08-04 17:18:00,2014-08-04 17:22:00,214,Daley Center Plaza,47.0,Michigan Ave & Washington St,43.0,73.0,8.1,cloudy
31038,Female,2016-09-07 07:48:30,2016-09-07 07:53:27,297,Daley Center Plaza,39.0,Michigan Ave & Washington St,43.0,79.0,10.4,cloudy
46116,Male,2017-09-13 16:29:00,2017-09-13 16:32:42,222,Daley Center Plaza,39.0,Michigan Ave & Washington St,43.0,72.0,9.2,cloudy

### Exercise 4

<span style="color:green; font-size:16px">Find all the rides with temperature greater than 90 or trip duration greater than 2000 or wind speed greater than 20.</span>

In [38]:
filt = (bikes['temperature'] > 90) | (bikes['tripduration'] > 2000) | (bikes['wind_speed'] > 20)

bikes[filt]

,gender,starttime,stoptime,tripduration,from_station_name,start_capacity,to_station_name,end_capacity,temperature,wind_speed,events
12,Male,2013-07-05 10:02:00,2013-07-05 10:40:00,2263,Jefferson St & Monroe St,19.0,Jefferson St & Monroe St,19.0,79.0,0.0,partlycloudy
18,Male,2013-07-09 13:12:00,2013-07-09 14:42:00,5396,Canal St & Jackson Blvd,35.0,Millennium Park,35.0,79.0,13.8,cloudy
40,Female,2013-07-14 14:08:00,2013-07-14 15:53:00,6274,Wabash Ave & Roosevelt Rd,19.0,Lake Shore Dr & Monroe St,11.0,87.1,8.1,partlycloudy
54,Male,2013-07-16 15:13:00,2013-07-16 15:18:00,347,Daley Center Plaza,47.0,State St & Van Buren St,27.0,91.0,8.1,mostlycloudy
55,Male,2013-07-16 15:31:00,2013-07-16 15:37:00,363,State St & Van Buren St,27.0,Daley Center Plaza,47.0,91.0,8.1,mostlycloudy
...,...,...,...,...,...,...,...,...,...,...,...
49827,Male,2017-12-13 18:57:00,2017-12-13 19:00:00,232,Wabash Ave & Roosevelt Rd,23.0,Federal St & Polk St,19.0,30.0,24.2,cloudy
49829,Male,2017-12-13 20:39:00,2017-12-13 20:47:00,439,Orleans St & Merchandise Mart Plaza,35.0,Dearborn Pkwy & Delaware Pl,19.0,28.9,20.7,snow
49905,Male,2017-12-17 21:44:00,2017-12-17 22:34:00,3013,Ellis Ave & 53rd St,11.0,Ellis Ave & 53rd St,11.0,41.0,5.8,cloudy
49926,Male,2017-12-18 18:00:00,2017-12-18 19:10:00,4214,Clark St & Congress Pkwy,27.0,Green St & Madison St,19.0,39.9,8.1,partlycloudy
50077,Male,2017-12-29 09:13:00,2017-12-29 09:53:00,2378,Clinton St & 18th St,15.0,Canal St & Taylor St,15.0,12.9,4.6,cloudy

### Exercise 5

<span  style="color:green; font-size:16px">Invert the condition from exercise 4.</span>

In [39]:
bikes[~filt]

,gender,starttime,stoptime,tripduration,from_station_name,start_capacity,to_station_name,end_capacity,temperature,wind_speed,events
0,Male,2013-06-28 19:01:00,2013-06-28 19:17:00,993,Lake Shore Dr & Monroe St,11.0,Michigan Ave & Oak St,15.0,73.9,12.7,mostlycloudy
1,Male,2013-06-28 22:53:00,2013-06-28 23:03:00,623,Clinton St & Washington Blvd,31.0,Wells St & Walton St,19.0,69.1,6.9,partlycloudy
2,Male,2013-06-30 14:43:00,2013-06-30 15:01:00,1040,Sheffield Ave & Kingsbury St,15.0,Dearborn St & Monroe St,23.0,73.0,16.1,mostlycloudy
3,Male,2013-07-01 10:05:00,2013-07-01 10:16:00,667,Carpenter St & Huron St,19.0,Clark St & Randolph St,31.0,72.0,16.1,mostlycloudy
4,Male,2013-07-01 11:16:00,2013-07-01 11:18:00,130,Damen Ave & Pierce Ave,19.0,Damen Ave & Pierce Ave,19.0,73.0,17.3,partlycloudy
...,...,...,...,...,...,...,...,...,...,...,...
50084,Male,2017-12-30 13:07:00,2017-12-30 13:34:00,1625,State St & Pearson St,27.0,Clark St & Elm St,27.0,5.0,16.1,partlycloudy
50085,Male,2017-12-30 13:34:00,2017-12-30 13:44:00,585,Halsted St & 35th St (*),16.0,Union Ave & Root St,11.0,5.0,16.1,partlycloudy
50086,Male,2017-12-30 13:34:00,2017-12-30 13:48:00,824,Kingsbury St & Kinzie St,31.0,Halsted St & Blackhawk St (*),20.0,5.0,16.1,partlycloudy
50087,Female,2017-12-31 09:30:00,2017-12-31 09:33:00,178,Clinton St & Lake St,23.0,Kingsbury St & Kinzie St,31.0,7.0,11.5,partlycloudy
50088,Male,2017-12-31 15:22:00,2017-12-31 15:26:00,214,Clarendon Ave & Leland Ave,15.0,Clifton Ave & Lawrence Ave,15.0,10.9,15.0,partlycloudy

### Exercise 6

<span  style="color:green; font-size:16px">Are there any rides where the weather event was snow and the temperature was greater than 40?</span>

In [41]:
filt = (bikes['events'] == 'snow') & (bikes['temperature'] > 40)
bikes[filt]

Empty DataFrame
Columns: [gender, starttime, stoptime, tripduration, from_station_name, start_capacity, to_station_name, end_capacity, temperature, wind_speed, events]
Index: []

Read in the movie dataset by executing the cell below and use it for the following exercises.

In [42]:
import pandas as pd
movie = pd.read_csv('../data/movie.csv', index_col='title')
movie.head(3)

,year,color,content_rating,duration,director_name,director_fb,actor1,actor1_fb,actor2,actor2_fb,...,actor3_fb,gross,genres,num_reviews,num_voted_users,plot_keywords,language,country,budget,imdb_score
title,,,,,,,,,,,,,,,,,,,,,
Avatar,2009.0,Color,PG-13,178.0,James Cameron,0.0,CCH Pounder,1000.0,Joel David Moore,936.0,...,855.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,723.0,886204,avatar|future|marine|native|paraplegic,English,USA,237000000.0,7.9
Pirates of the Caribbean: At World's End,2007.0,Color,PG-13,169.0,Gore Verbinski,563.0,Johnny Depp,40000.0,Orlando Bloom,5000.0,...,1000.0,309404152.0,Action|Adventure|Fantasy,302.0,471220,goddess|marriage ceremony|marriage proposal|pi...,English,USA,300000000.0,7.1
Spectre,2015.0,Color,PG-13,148.0,Sam Mendes,0.0,Christoph Waltz,11000.0,Rory Kinnear,393.0,...,161.0,200074175.0,Action|Adventure|Thriller,602.0,275868,bomb|espionage|sequel|spy|terrorist,English,UK,245000000.0,6.8

### Exercise 7

<span style="color:green; font-size:16px">Select all movies with an IMDB score between 8 and 9.</span>

In [43]:
filt = (movie['imdb_score'] > 8) & (movie['imdb_score'] < 9) 

movie[filt]

,year,color,content_rating,duration,director_name,director_fb,actor1,actor1_fb,actor2,actor2_fb,...,actor3_fb,gross,genres,num_reviews,num_voted_users,plot_keywords,language,country,budget,imdb_score
title,,,,,,,,,,,,,,,,,,,,,
The Dark Knight Rises,2012.0,Color,PG-13,164.0,Christopher Nolan,22000.0,Tom Hardy,27000.0,Christian Bale,23000.0,...,23000.0,448130642.0,Action|Thriller,813.0,1144337,deception|imprisonment|lawlessness|police offi...,English,USA,250000000.0,8.5
The Avengers,2012.0,Color,PG-13,173.0,Joss Whedon,0.0,Chris Hemsworth,26000.0,Robert Downey Jr.,21000.0,...,19000.0,623279547.0,Action|Adventure|Sci-Fi,703.0,995415,alien invasion|assassin|battle|iron man|soldier,English,USA,220000000.0,8.1
Captain America: Civil War,2016.0,Color,PG-13,147.0,Anthony Russo,94.0,Robert Downey Jr.,21000.0,Scarlett Johansson,19000.0,...,11000.0,407197282.0,Action|Adventure|Sci-Fi,516.0,272670,based on comic book|knife|marvel cinematic uni...,English,USA,250000000.0,8.2
Toy Story 3,2010.0,Color,G,103.0,Lee Unkrich,125.0,Tom Hanks,15000.0,John Ratzenberger,1000.0,...,721.0,414984497.0,Adventure|Animation|Comedy|Family|Fantasy,453.0,544884,college|day care|escape|teddy bear|toy,English,USA,200000000.0,8.3
WALLE,2008.0,Color,G,98.0,Andrew Stanton,475.0,John Ratzenberger,1000.0,Fred Willard,729.0,...,522.0,223806889.0,Adventure|Animation|Family|Sci-Fi,421.0,718837,earth|obesity|plant|robot|soil,English,USA,180000000.0,8.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Butterfly Girl,2014.0,Color,NaN,78.0,Cary Bell,0.0,Abigail Evans,0.0,Stacie Evans,0.0,...,0.0,NaN,Documentary,NaN,27,NaN,English,USA,180000.0,8.7
A Charlie Brown Christmas,1965.0,Color,TV-G,25.0,Bill Melendez,36.0,Peter Robbins,39.0,Bill Melendez,36.0,...,27.0,NaN,Animation|Comedy|Family,43.0,21826,christmas|christmas tree|commercialism|meaning...,English,USA,150000.0,8.4
The Brain That Sings,2013.0,Color,NaN,62.0,Amal Al-Agroobi,58.0,NaN,NaN,NaN,NaN,...,NaN,NaN,Documentary|Family,NaN,18,autism|middle east|music therapy|united arab e...,Arabic,United Arab Emirates,125000.0,8.2
"Peace, Propaganda & the Promised Land",2004.0,Color,NaN,80.0,Sut Jhally,3.0,Noam Chomsky,103.0,Seth Ackerman,0.0,...,0.0,NaN,Documentary,16.0,496,arab israeli conflict|israel|media|middle east...,English,USA,70000.0,8.3
The Last Waltz,1978.0,Color,PG,117.0,Martin Scorsese,17000.0,Ringo Starr,725.0,Levon Helm,572.0,...,476.0,321952.0,Documentary|Music,71.0,12611,band|final concert|guitar|interview|thanksgiving,English,USA,NaN,8.2

### Exercise 8

<span  style="color:green; font-size:16px">Select all movies rated 'PG-13' that had IMDB scores between 8 and 9.</span>

In [44]:
filt = (movie['imdb_score'] > 8) & (movie['imdb_score'] < 9) & (movie['content_rating'] == 'PG-13') 

movie[filt]

,year,color,content_rating,duration,director_name,director_fb,actor1,actor1_fb,actor2,actor2_fb,...,actor3_fb,gross,genres,num_reviews,num_voted_users,plot_keywords,language,country,budget,imdb_score
title,,,,,,,,,,,,,,,,,,,,,
The Dark Knight Rises,2012.0,Color,PG-13,164.0,Christopher Nolan,22000.0,Tom Hardy,27000.0,Christian Bale,23000.0,...,23000.0,448130642.0,Action|Thriller,813.0,1144337,deception|imprisonment|lawlessness|police offi...,English,USA,2.500000e+08,8.5
The Avengers,2012.0,Color,PG-13,173.0,Joss Whedon,0.0,Chris Hemsworth,26000.0,Robert Downey Jr.,21000.0,...,19000.0,623279547.0,Action|Adventure|Sci-Fi,703.0,995415,alien invasion|assassin|battle|iron man|soldier,English,USA,2.200000e+08,8.1
Captain America: Civil War,2016.0,Color,PG-13,147.0,Anthony Russo,94.0,Robert Downey Jr.,21000.0,Scarlett Johansson,19000.0,...,11000.0,407197282.0,Action|Adventure|Sci-Fi,516.0,272670,based on comic book|knife|marvel cinematic uni...,English,USA,2.500000e+08,8.2
Guardians of the Galaxy,2014.0,Color,PG-13,121.0,James Gunn,571.0,Bradley Cooper,14000.0,Vin Diesel,14000.0,...,3000.0,333130696.0,Action|Adventure|Sci-Fi,653.0,682155,bounty hunter|outer space|raccoon|talking anim...,English,USA,1.700000e+08,8.1
Interstellar,2014.0,Color,PG-13,169.0,Christopher Nolan,22000.0,Matthew McConaughey,11000.0,Anne Hathaway,11000.0,...,6000.0,187991439.0,Adventure|Drama|Sci-Fi,712.0,928227,black hole|father daughter relationship|saving...,English,USA,1.650000e+08,8.6
Inception,2010.0,Color,PG-13,148.0,Christopher Nolan,22000.0,Leonardo DiCaprio,29000.0,Tom Hardy,27000.0,...,23000.0,292568851.0,Action|Adventure|Sci-Fi|Thriller,642.0,1468200,ambiguous ending|corporate espionage|dream|sub...,English,USA,1.600000e+08,8.8
Batman Begins,2005.0,Color,PG-13,128.0,Christopher Nolan,22000.0,Christian Bale,23000.0,Liam Neeson,14000.0,...,11000.0,205343774.0,Action|Adventure,478.0,980946,armored car|gangster|gotham|mixed martial arts...,English,USA,1.500000e+08,8.3
The Bourne Ultimatum,2007.0,Color,PG-13,115.0,Paul Greengrass,521.0,Matt Damon,13000.0,Edgar Ramrez,897.0,...,883.0,227137090.0,Action|Mystery|Thriller,329.0,491077,action hero|cia|dark past|flashback|memory,English,USA,1.100000e+08,8.1
Pirates of the Caribbean: The Curse of the Black Pearl,2003.0,Color,PG-13,143.0,Gore Verbinski,563.0,Johnny Depp,40000.0,Orlando Bloom,5000.0,...,1000.0,305388685.0,Action|Adventure|Fantasy,271.0,809474,caribbean|curse|governor|pirate|undead,English,USA,1.400000e+08,8.1
The Lord of the Rings: The Fellowship of the Ring,2001.0,Color,PG-13,171.0,Peter Jackson,0.0,Christopher Lee,16000.0,Orlando Bloom,5000.0,...,857.0,313837577.0,Action|Adventure|Drama|Fantasy,297.0,1238746,elf|hobbit|middle earth|quest|ring,English,New Zealand,9.300000e+07,8.8
The Martian,2015.0,Color,PG-13,151.0,Ridley Scott,0.0,Matt Damon,13000.0,Donald Glover,801.0,...,372.0,228430993.0,Adventure|Drama|Sci-Fi,568.0,472488,astronaut|international cooperation|left for d...,English,USA,1.080000e+08,8.1
The Lord of the Rings: The Return of the King,2003.0,Color,PG-13,192.0,Peter Jackson,0.0,Orlando Bloom,5000.0,Billy Boyd,857.0,...,416.0,377019252.0,Action|Adventure|Drama|Fantasy,328.0,1215718,battle|epic|king|orc|ring,English,USA,9.400000e+07,8.9
The Lord of the Rings: The Two Towers,2002.0,Color,PG-13,172.0,Peter Jackson,0.0,Christopher Lee,16000.0,Orlando Bloom,5000.0,...,857.0,340478898.0,Action|Adventure|Drama|Fantasy,294.0,1100446,epic|evil wizard|middle earth|ring|wizard,English,USA,9.400000e+07,8.7
A Beautiful Mind,2001.0,Color,PG-13,135.0,Ron Howard,2000.0,Adam Goldberg,1000.0,Austin Pendleton,592.0,...,535.0,170708996.0,Biography|Drama,205.0,610568,conspiracy|cryptography|mathematician|mental i...,English,USA,5.800000e+07,8.2
Jurassic Park,1993.0,Color,PG-13,127.0,Steven Spielberg,14000.0,Wayne Knight,967.0,Ariana Richards,610.0,...,191.0,356784000.0,Adventure|Sci-Fi|Thriller,308.0,613473,dinosaur|jurassic park|survival|theme park|tyr...,English,USA,6.300000e+07,8.1
Forrest Gump,1994.0,Black and White,PG-13,142.0,Robert Zemeckis,0.0,Tom Hanks,15000.0,Siobhan Fallon Hogan,294.0,...,194.0,329691196.0,Comedy|Drama,149.0,1251222,amputee|love|vietnam|vietnam war|war hero,English,USA,5.500000e+07,8.8
Indiana Jones and the Last Crusade,1989.0,Color,PG-13,127.0,Steven Spielberg,14000.0,Harrison Ford,11000.0,Julian Glover,844.0,...,440.0,197171806.0,Action|Adventure|Fantasy,149.0,515306,castle|diary|holy grail|map|nazi,English,USA,4.800000e+07,8.3
The Sixth Sense,1999.0,Color,PG-13,107.0,M. Night Shyamalan,0.0,Bruce Willis,13000.0,Haley Joel Osment,3000.0,...,766.0,293501675.0,Drama|Mystery|Thriller,234.0,704766,able to see the dead|ghost|plot twist|psychic|...,English,USA,4.000000e+07,8.1
The Prestige,2006.0,Color,PG-13,130.0,Christopher Nolan,22000.0,Christian Bale,23000.0,Hugh Jackman,20000.0,...,19000.0,53082743.0,Drama|Mystery|Sci-Fi|Thriller,341.0,844052,illusion|magician|obsession|rivalry|secret,English,USA,4.000000e+07,8.5
Million Dollar Baby,2004.0,Color,PG-13,132.0,Clint Eastwood,16000.0,Clint Eastwood,16000.0,Morgan Freeman,11000.0,...,567.0,100422786.0,Drama|Sport,268.0,482064,boxing|boxing trainer|death|suicide attempt|wo...,English,USA,3.000000e+07,8.1
The Help,2011.0,Color,PG-13,146.0,Tate Taylor,150.0,Emma Stone,15000.0,Bryce Dallas Howard,3000.0,...,2000.0,169705587.0,Drama,373.0,318955,black servant|chocolate pie|jackson mississipp...,English,USA,2.500000e+07,8.1
Warrior,2011.0,Color,PG-13,140.0,Gavin O'Connor,149.0,Tom Hardy,27000.0,Frank Grillo,798.0,...,581.0,13651662.0,Drama|Sport,317.0,332276,alcoholic|mixed martial arts|return home|tourn...,English,USA,2.500000e+07,8.2
Princess Mononoke,1997.0,Color,PG-13,134.0,Hayao Miyazaki,6000.0,Minnie Driver,893.0,Jada Pinkett Smith,851.0,...,745.0,2298191.0,Adventure|Animation|Fantasy,174.0,221552,anime|cult film|forest|princess|studio ghibli,Japanese,Japan,2.400000e+09,8.4
Hotel Rwanda,2004.0,Color,PG-13,121.0,Terry George,83.0,Don Cheadle,3000.0,Sophie Okonedo,460.0,...,242.0,23472900.0,Drama|History|War,187.0,264533,atrocity|central africa|ethnic warfare|united ...,English,UK,1.750000e+07,8.1
The Imitation Game,2014.0,Color,PG-13,114.0,Morten Tyldum,77.0,Benedict Cumberbatch,19000.0,Rory Kinnear,393.0,...,305.0,91121452.0,Biography|Drama|Thriller|War,454.0,467613,crossword puzzle|cryptography|enigma code|gay ...,English,UK,1.400000e+07,8.1
The Sea Inside,2004.0,Color,PG-13,125.0,Alejandro Amenbar,448.0,Beln Rueda,273.0,Lola Dueas,114.0,...,93.0,2086345.0,Biography|Drama|Romance,157.0,64556,dignity|euthanasia|freedom|lawyer|sailor,Spanish,Spain,1.000000e+07,8.1
Once Upon a Time in the West,1968.0,Color,PG-13,145.0,Sergio Leone,0.0,Claudia Cardinale,973.0,Woody Strode,423.0,...,392.0,NaN,Western,164.0,216005,gang|gun|harmonica|killing|woman in bathtub,English,Italy,5.000000e+06,8.6
Samsara,2011.0,Color,PG-13,102.0,Ron Fricke,330.0,Collin Alfredo St. Dic,48.0,Balinese Tari Legong Dancers,0.0,...,0.0,2601847.0,Documentary|Music,115.0,22457,hall of mirrors|mont saint michel france|palac...,None,USA,4.000000e+06,8.5
"Batman: The Dark Knight Returns, Part 2",2013.0,Color,PG-13,148.0,Jay Oliva,41.0,Michael Emerson,2000.0,Mark Valley,774.0,...,739.0,NaN,Action|Animation|Crime|Sci-Fi|Thriller,44.0,30434,batman|joker|mutant|tattoo on breast|the joker,English,USA,3.500000e+06,8.4
Lage Raho Munna Bhai,2006.0,Color,PG-13,144.0,Rajkumar Hirani,124.0,Vidya Balan,464.0,Sanjay Dutt,426.0,...,327.0,NaN,Comedy|Drama|Romance,15.0,27569,love|professor of history|radio|satyagraha|uns...,Hindi,India,1.200000e+08,8.2
Inside Job,2010.0,Color,PG-13,105.0,Charles Ferguson,117.0,Matt Damon,13000.0,George W. Bush,125.0,...,18.0,4311834.0,Crime|Documentary,171.0,55382,florida|iceland|interview|new york city new yo...,English,USA,NaN,8.3
Growing Up Smith,2015.0,Color,PG-13,102.0,Frank Lotito,5.0,Brighton Sharbino,3000.0,Jake Busey,660.0,...,259.0,NaN,Comedy|Drama|Family,NaN,108,adolescence|girl next door|growing vegetables|...,English,USA,2.000000e+06,8.2
Queen of the Mountains,2014.0,Color,PG-13,135.0,Sadyk Sher-Niyaz,135.0,Elina Abai Kyzy,0.0,Aziz Muradillayev,0.0,...,0.0,NaN,Action|Biography|Drama|History,16.0,3144,19th century|central asia|mother son relations...,English,Kyrgyzstan,1.400000e+06,8.7
A Separation,2011.0,Color,PG-13,123.0,Asghar Farhadi,0.0,Shahab Hosseini,786.0,Leila Hatami,712.0,...,620.0,7098492.0,Drama|Mystery,354.0,151812,alzheimer's disease|caregiver|divorce|iran|ira...,Persian,Iran,5.000000e+05,8.4
Hoop Dreams,1994.0,Color,PG-13,170.0,Steve James,23.0,William Gates,7.0,Arthur Agee,6.0,...,2.0,7830611.0,Documentary|Drama|Sport,53.0,18980,athlete|basketball|high school|high school stu...,English,USA,7.000000e+05,8.3

### Exercise 9

<span  style="color:green; font-size:16px">Select movies that were rated either R, PG-13, or PG.</span>

In [46]:
movie['content_rating'].isin(['R', 'PG-13', 'PG'])

title
Avatar                                         True
Pirates of the Caribbean: At World's End       True
Spectre                                        True
The Dark Knight Rises                          True
Star Wars: Episode VII - The Force Awakens    False
                                              ...
Signed Sealed Delivered                       False
The Following                                 False
A Plague So Pleasant                          False
Shanghai Calling                               True
My Date with Drew                              True
Name: content_rating, Length: 4916, dtype: bool

### Exercise 10

<span  style="color:green; font-size:16px">Select movies that are either rated PG-13 or had an IMDB score greater than 7.</span>

In [48]:
filt = (movie['imdb_score'] > 7) & (movie['content_rating'] == 'PG-13') 

movie[filt]

,year,color,content_rating,duration,director_name,director_fb,actor1,actor1_fb,actor2,actor2_fb,...,actor3_fb,gross,genres,num_reviews,num_voted_users,plot_keywords,language,country,budget,imdb_score
title,,,,,,,,,,,,,,,,,,,,,
Avatar,2009.0,Color,PG-13,178.0,James Cameron,0.0,CCH Pounder,1000.0,Joel David Moore,936.0,...,855.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,723.0,886204,avatar|future|marine|native|paraplegic,English,USA,237000000.0,7.9
Pirates of the Caribbean: At World's End,2007.0,Color,PG-13,169.0,Gore Verbinski,563.0,Johnny Depp,40000.0,Orlando Bloom,5000.0,...,1000.0,309404152.0,Action|Adventure|Fantasy,302.0,471220,goddess|marriage ceremony|marriage proposal|pi...,English,USA,300000000.0,7.1
The Dark Knight Rises,2012.0,Color,PG-13,164.0,Christopher Nolan,22000.0,Tom Hardy,27000.0,Christian Bale,23000.0,...,23000.0,448130642.0,Action|Thriller,813.0,1144337,deception|imprisonment|lawlessness|police offi...,English,USA,250000000.0,8.5
Avengers: Age of Ultron,2015.0,Color,PG-13,141.0,Joss Whedon,0.0,Chris Hemsworth,26000.0,Robert Downey Jr.,21000.0,...,19000.0,458991599.0,Action|Adventure|Sci-Fi,635.0,462669,artificial intelligence|based on comic book|ca...,English,USA,250000000.0,7.5
Pirates of the Caribbean: Dead Man's Chest,2006.0,Color,PG-13,151.0,Gore Verbinski,563.0,Johnny Depp,40000.0,Orlando Bloom,5000.0,...,1000.0,423032628.0,Action|Adventure|Fantasy,313.0,522040,box office hit|giant squid|heart|liar's dice|m...,English,USA,225000000.0,7.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Call + Response,2008.0,Color,PG-13,86.0,Justin Dillon,0.0,Matisyahu,178.0,Natasha Bedingfield,58.0,...,15.0,215185.0,Documentary|History|Music,7.0,48,fair trade|human trafficking|non profit|rockum...,English,USA,200000.0,7.5
The Trials of Darryl Hunt,2006.0,Color,PG-13,106.0,Ricki Stern,15.0,Darryl Hunt,2.0,Evelyn Jefferson,0.0,...,0.0,1111.0,Crime|Documentary,11.0,771,false accusation|murder|north carolina|trial|w...,English,USA,200000.0,7.7
Heroes of Dirt,2015.0,Color,PG-13,98.0,Eric Bugbee,0.0,Joel Moody,52.0,Bill Allen,36.0,...,21.0,NaN,Action|Drama|Sport,2.0,53,bike|bmx|drugs|troubled teen|youth,English,USA,NaN,7.1
The Mighty,1998.0,Color,PG-13,100.0,Peter Chelsom,23.0,Kieran Culkin,1000.0,Elden Henson,577.0,...,545.0,2643689.0,Comedy|Drama,57.0,10499,book|friendship|knight|learning disability|tutor,English,USA,NaN,7.3
The Mongol King,2005.0,Color,PG-13,84.0,Anthony Vallone,2.0,Richard Jewell,45.0,John Considine,44.0,...,2.0,NaN,Crime|Drama,NaN,36,jewell|mongol|nostradamus|stepnicka|vallone,English,USA,3250.0,7.8

### Exercise 11

<span  style="color:green; font-size:16px">Find all the movies that have at least one of the three actors with more than 10,000 Facebook likes.</span>

In [49]:
filt = (movie['actor1_fb'] > 10000) | (movie['actor2_fb'] > 10000) | (movie['actor3_fb'] > 10000)

movie[filt]

,year,color,content_rating,duration,director_name,director_fb,actor1,actor1_fb,actor2,actor2_fb,...,actor3_fb,gross,genres,num_reviews,num_voted_users,plot_keywords,language,country,budget,imdb_score
title,,,,,,,,,,,,,,,,,,,,,
Pirates of the Caribbean: At World's End,2007.0,Color,PG-13,169.0,Gore Verbinski,563.0,Johnny Depp,40000.0,Orlando Bloom,5000.0,...,1000.0,309404152.0,Action|Adventure|Fantasy,302.0,471220,goddess|marriage ceremony|marriage proposal|pi...,English,USA,300000000.0,7.1
Spectre,2015.0,Color,PG-13,148.0,Sam Mendes,0.0,Christoph Waltz,11000.0,Rory Kinnear,393.0,...,161.0,200074175.0,Action|Adventure|Thriller,602.0,275868,bomb|espionage|sequel|spy|terrorist,English,UK,245000000.0,6.8
The Dark Knight Rises,2012.0,Color,PG-13,164.0,Christopher Nolan,22000.0,Tom Hardy,27000.0,Christian Bale,23000.0,...,23000.0,448130642.0,Action|Thriller,813.0,1144337,deception|imprisonment|lawlessness|police offi...,English,USA,250000000.0,8.5
Spider-Man 3,2007.0,Color,PG-13,156.0,Sam Raimi,0.0,J.K. Simmons,24000.0,James Franco,11000.0,...,4000.0,336530303.0,Action|Adventure|Romance,392.0,383056,sandman|spider man|symbiote|venom|villain,English,USA,258000000.0,6.2
Avengers: Age of Ultron,2015.0,Color,PG-13,141.0,Joss Whedon,0.0,Chris Hemsworth,26000.0,Robert Downey Jr.,21000.0,...,19000.0,458991599.0,Action|Adventure|Sci-Fi,635.0,462669,artificial intelligence|based on comic book|ca...,English,USA,250000000.0,7.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Like Crazy,2011.0,Color,PG-13,90.0,Drake Doremus,52.0,Jennifer Lawrence,34000.0,Charlie Bewley,487.0,...,224.0,3388210.0,Drama|Romance,206.0,46813,girlfriend|immigration|long distance relations...,English,USA,250000.0,6.7
Bronson,2008.0,Color,R,92.0,Nicolas Winding Refn,0.0,Tom Hardy,27000.0,James Lance,161.0,...,146.0,104792.0,Action|Biography|Crime|Drama,225.0,84817,male full frontal nudity|prison|prisoner|solit...,English,UK,NaN,7.1
A Fistful of Dollars,1964.0,Color,R,99.0,Sergio Leone,0.0,Clint Eastwood,16000.0,Gian Maria Volont,360.0,...,93.0,3500000.0,Action|Drama|Western,122.0,147566,balladeer|bar|drifter|mexican|revenge,Italian,Italy,200000.0,8.0
The Grace Card,2010.0,Color,PG-13,101.0,David G. Evans,0.0,Michael Joiner,77000.0,Chris Thomas,21.0,...,16.0,2428241.0,Drama,25.0,2099,christian film|forgiveness|hospital|pastor|police,English,USA,200000.0,6.4
Smiling Fish & Goat on Fire,1999.0,Color,R,90.0,Kevin Jordan,4.0,Derick Martini,20000.0,Christa Miller,467.0,...,113.0,277233.0,Comedy|Romance,21.0,2631,accountant|actor|animal in title|mail carrier|...,English,USA,40000.0,7.6

### Exercise 12

<span  style="color:green; font-size:16px">Invert the condition from exercise 10. In words, what have you selected?</span>

In [50]:
movie[~filt]

,year,color,content_rating,duration,director_name,director_fb,actor1,actor1_fb,actor2,actor2_fb,...,actor3_fb,gross,genres,num_reviews,num_voted_users,plot_keywords,language,country,budget,imdb_score
title,,,,,,,,,,,,,,,,,,,,,
Avatar,2009.0,Color,PG-13,178.0,James Cameron,0.0,CCH Pounder,1000.0,Joel David Moore,936.0,...,855.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,723.0,886204,avatar|future|marine|native|paraplegic,English,USA,237000000.0,7.9
Star Wars: Episode VII - The Force Awakens,NaN,NaN,NaN,NaN,Doug Walker,131.0,Doug Walker,131.0,Rob Walker,12.0,...,NaN,NaN,Documentary,NaN,8,NaN,NaN,NaN,NaN,7.1
John Carter,2012.0,Color,PG-13,132.0,Andrew Stanton,475.0,Daryl Sabara,640.0,Samantha Morton,632.0,...,530.0,73058679.0,Action|Adventure|Sci-Fi,462.0,212204,alien|american civil war|male nipple|mars|prin...,English,USA,263700000.0,6.6
Tangled,2010.0,Color,PG,100.0,Nathan Greno,15.0,Brad Garrett,799.0,Donna Murphy,553.0,...,284.0,200807262.0,Adventure|Animation|Comedy|Family|Fantasy|Musi...,324.0,294810,17th century|based on fairy tale|disney|flower...,English,USA,260000000.0,7.8
Quantum of Solace,2008.0,Color,PG-13,106.0,Marc Forster,395.0,Giancarlo Giannini,451.0,Mathieu Amalric,412.0,...,393.0,168368427.0,Action|Adventure,403.0,330784,action hero|attempted rape|bond girl|official ...,English,UK,200000000.0,6.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Signed Sealed Delivered,2013.0,Color,NaN,87.0,Scott Smith,2.0,Eric Mabius,637.0,Daphne Zuniga,470.0,...,318.0,NaN,Comedy|Drama,1.0,629,fraud|postal worker|prison|theft|trial,English,Canada,NaN,7.7
The Following,NaN,Color,TV-14,43.0,NaN,NaN,Natalie Zea,841.0,Valorie Curry,593.0,...,319.0,NaN,Crime|Drama|Mystery|Thriller,43.0,73839,cult|fbi|hideout|prison escape|serial killer,English,USA,NaN,7.5
A Plague So Pleasant,2013.0,Color,NaN,76.0,Benjamin Roberds,0.0,Eva Boehnke,0.0,Maxwell Moody,0.0,...,0.0,NaN,Drama|Horror|Thriller,13.0,38,NaN,English,USA,1400.0,6.3
Shanghai Calling,2012.0,Color,PG-13,100.0,Daniel Hsia,0.0,Alan Ruck,946.0,Daniel Henney,719.0,...,489.0,10443.0,Comedy|Drama|Romance,14.0,1255,NaN,English,USA,NaN,6.3
My Date with Drew,2004.0,Color,PG,90.0,Jon Gunn,16.0,John August,86.0,Brian Herzlinger,23.0,...,16.0,85222.0,Documentary,43.0,4285,actress name in title|crush|date|four word tit...,English,USA,1100.0,6.6

### Exercise 13

<span  style="color:green; font-size:16px">Select all movies from the 1970's.</span>

In [51]:
filt = (movie['year'] >= 1970) & (movie['year'] < 1980)
movie[filt]

,year,color,content_rating,duration,director_name,director_fb,actor1,actor1_fb,actor2,actor2_fb,...,actor3_fb,gross,genres,num_reviews,num_voted_users,plot_keywords,language,country,budget,imdb_score
title,,,,,,,,,,,,,,,,,,,,,
All That Jazz,1979.0,Color,R,123.0,Bob Fosse,189.0,Roy Scheider,813.0,Ben Vereen,388.0,...,87.0,NaN,Comedy|Drama|Music|Musical,84.0,19228,dancer|editing|stand up comedian|surgery|vomiting,English,USA,NaN,7.8
Superman,1978.0,Color,PG,188.0,Richard Donner,503.0,Marlon Brando,10000.0,Margot Kidder,593.0,...,467.0,134218018.0,Action|Adventure|Drama|Romance|Sci-Fi,169.0,126357,1970s|clark kent|planet|superhero|year 1978,English,USA,55000000.0,7.3
Solaris,1972.0,Black and White,PG,115.0,Andrei Tarkovsky,0.0,Donatas Banionis,29.0,Anatoliy Solonitsyn,29.0,...,12.0,NaN,Drama|Mystery|Sci-Fi,144.0,54057,hallucination|ocean|psychologist|scientist|spa...,Russian,Soviet Union,1000000.0,8.1
Mean Streets,1973.0,Color,R,112.0,Martin Scorsese,17000.0,Robert De Niro,22000.0,David Carradine,926.0,...,354.0,32645.0,Crime|Drama|Romance|Thriller,112.0,67797,bar|catholic guilt|epilepsy|italian american|m...,English,USA,500000.0,7.4
Star Trek: The Motion Picture,1979.0,Color,PG,143.0,Robert Wise,338.0,Leonard Nimoy,12000.0,Nichelle Nichols,664.0,...,643.0,82300000.0,Adventure|Mystery|Sci-Fi,134.0,63330,alien|space|space station|spacecraft|warp speed,English,USA,35000000.0,6.4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Penitentiary,1979.0,Color,R,99.0,Jamaa Fanaka,9.0,Leon Isaac Kennedy,116.0,Chuck Mitchell,24.0,...,10.0,NaN,Crime|Drama|Sport,23.0,509,blaxploitation|boxing|convict|drifter|false ac...,English,USA,100000.0,5.8
The Night Visitor,1971.0,Color,GP,106.0,Laslo Benedek,6.0,Liv Ullmann,440.0,Trevor Howard,98.0,...,13.0,NaN,Crime|Horror|Thriller,14.0,544,escape|independent film|mental illness|prison|...,English,USA,NaN,6.8
The Last Waltz,1978.0,Color,PG,117.0,Martin Scorsese,17000.0,Ringo Starr,725.0,Levon Helm,572.0,...,476.0,321952.0,Documentary|Music,71.0,12611,band|final concert|guitar|interview|thanksgiving,English,USA,NaN,8.2
Pink Narcissus,1971.0,Color,Not Rated,65.0,James Bidgood,0.0,Don Brooks,0.0,Bobby Kendall,0.0,...,NaN,8231.0,Drama|Fantasy,8.0,803,male frontal nudity|male pubic hair|male rear ...,English,USA,27000.0,6.7
Pink Flamingos,1972.0,Color,NC-17,108.0,John Waters,0.0,Divine,462.0,Mink Stole,143.0,...,105.0,180483.0,Comedy|Crime|Horror,73.0,16792,absurd humor|egg|gross out humor|lesbian|sex,English,USA,10000.0,6.1